@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<body>

    <style>
        .h2, h4 {
            font-family: Arial;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }
    </style>

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="row" style=" margin-right: 0px; margin-left: 0px;">
            <div class="col-md-5 offset-md-1" style="padding-top: 80px;">
                <div class="img-box" style=" margin-top: 7%;">
                    <img src="https://images.pexels.com/photos/6567619/pexels-photo-6567619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />


                </div>
            </div>
            <div class="col-md-6 col-lg-4" style="padding-top: 80px; ">
                <div class="detail-box" style="margin-left: 50px;">
                    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        About Us
                    </h2>
                    <br />
                    <h4 style="font-family: Arial">

                        Welcome to our clothing store! We are a boutique located in the heart of Irbid , offering high-quality clothing for both men and women. Our store has been serving the community for years, providing the latest fashion trends and timeless classics.

                    </h4>
                    <br />
                    <h4 style="font-family: Arial">
                        As we continue to grow, we are excited to announce the launch of our online store. Now, customers can shop from the comfort of their own homes, while still receiving the same level of service and attention that they would receive in our physical store.

                    </h4>
                    <br />
                    <h4 style="font-family: Arial">
                        Shopping online has many benefits, including the ability to browse our entire selection of clothing without leaving your home. We offer a wide range of styles, from casual wear to formal attire, so there is something for everyone. Additionally, our online store provides a convenient and safe way to shop during these uncertain times.
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <!-- end about section -->



</body>
</html>
